<div class="wrapper">
    <div class="container">
        <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <h2>Witaj!</h2>
            <h4></h4>
        </div>
        <div class="buttons">
            <div class="button-left shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <p>Zmień E-mail</p>
            </div>
            <div class="button-right shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <p>Resetuj Hasło</p>
            </div>
        </div>
    </div>
</div>