
<div class="wrapper">

<div class="container">

    <div (click)="onFlip()" class="front word-card shadow-lg p-3 mb-5 bg-body-tertiary rounded" *ngIf="!flipper">
        <div class="stats">

            <p class="incorrect">{{lerning.howManyIncorrect()}}</p>
            <p>{{currentWordId + 1}}/{{fiszkiAmount}}</p>
            <p class="correct">{{lerning.howManyCorrect()}}</p></div>
            <h4>{{currentWord}}</h4>

    </div>
    <div (click)="onFlip()" class="back word-card shadow-lg p-3 mb-5 bg-body-tertiary rounded" *ngIf="flipper">
        <div class="stats"> 

            <p class="incorrect">{{lerning.howManyIncorrect()}}</p>
            <p>{{currentWordId + 1}}/{{fiszkiAmount}}</p>
            <p class="correct">{{lerning.howManyCorrect()}}</p></div>
            <h4>{{currentDefinition}}</h4>

    </div>
  
    <div class="buttons">
        <div (click)="onIncorrect()"  class="buttons-button not shadow-lg p-3 mb-5 bg-body-tertiary rounded">Uczę się</div>
        <div (click)="onCorrect()" class="buttons-button ok shadow-lg p-3 mb-5 bg-body-tertiary rounded">Potrafię</div>
    </div>
  
</div>

<div class="win-box shadow-lg p-3 mb-5 bg-body-tertiary rounded" *ngIf="win" >

        <h4>Koniec</h4>
        <br>
        <h6>Ukończono <b>{{fiszki.fiszki[id].name}}</b></h6>
        <br>
        <p>Opanowałeś <b>{{fiszki.fiszki[id].cards.length}}</b> nowych wyrażeń</p>
        <div class="buttons">
            <div (click)="onBack()" class="buttons-left shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <p>Powrót</p>
                <img src="assets/back.png" alt="" class="icon"> 
            </div>
            <div (click)="onRepete()" class="buttons-right shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <p>Ucz się jeszcze raz</p>
                <img src="assets/reuse.png" alt="" class="icon">   
            </div>
        </div>
    </div>
</div>

