<div class="wrapper">
    <div class="container">
        <div class="content shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <h2>Fiszki</h2>
           <p>Home</p>
        </div>
        <div class="buttons">
            <a routerLink="/add" class="left shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <p>Utwórz zestaw</p>
                <img class="btn-icon" src="../../assets/plus.png" alt="">
            </a>
            <a class="right shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <p>Przeglądaj udostępnione</p>
                <img class="btn-icon" src="../../assets/network.png" alt="">
            </a>
        </div>
        <div class="stats shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <h4>Statystyki</h4>
        </div>
    </div>
</div>